<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.cms.dao.extend.UserExtendMapper">




<select resultMap="BaseUserExtendResultMap" id="selectByid" >
SELECT * FROM cms_user 
WHERE id = #{id} 
</select>

<select resultMap="BaseUserExtendResultMap" id="selectAll" >
SELECT * FROM cms_user 
</select>

<resultMap id="BaseUserExtendResultMap" extends="com.briup.apps.cms.dao.userMapper.BaseResultMap" type="com.briup.apps.cms.bean.extend.UserExtend">

<collection select="com.briup.apps.cms.dao.extend.RoleExtendMapper.selectByUserId" column="id" property="roles"/>

</resultMap>

 
</mapper>